<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <h4>A팀 vs B팀</h4>
    <button id="aTeamIncreased">A</button>
    <button id="bTeamIncreased">B</button>

    <span id="aTeamScore"></span>
    <span id="bTeamScore"></span>
</div>

<button id="resultBtn">결과보기</button>
<div id="matchResult"></div>
</body>
</html>

<script src="/js/node_modules/redux/dist/redux.js"></script>
<script src="/js/index.js" type="module"></script>
